<?xml version="1.0" encoding="utf-8"?>

<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請造訪
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>
  <connectionStrings>
    <add name="SQL_ConnectionString" connectionString="Data Source=XXXXXXXXX\SQL_SOLINARI;Initial Catalog=ASP;Persist Security Info=true;User Id=XXXXXXX;Password=XXXXXXXX;" providerName="System.Data.SqlClient" />
  </connectionStrings>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="MemoryGame.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
